.about {
    color: #333333;
    font-family: Lato;
    box-sizing: border-box; 

    .about-one {
        background-image: linear-gradient(to bottom, rgb(198, 224, 235), rgb(255, 255, 255));
        display: flex;
        justify-content: space-between;
        
        .about-one-text {
            padding: 4rem;
            padding-left: 6rem;
            text-align: left;
            width:55%;

            .about-one-text-heading {
                color: #084482;
                font-size: 1.6rem;
                font-weight: 400;
            }

            .about-one-text-head {
                color: #084482;
                font-size: 2.5rem;
                font-weight: 900;
                margin: 2rem 0;
            }

            .about-one-text-paragraph {
                font-size: 1.01rem;
                line-height: 1.3rem;
                font-weight: 400;
            }
        }

        .about-one-image {
            margin-top: 15rem;
        }
    }

    .build-about {
        background: url('../images/aboutimages/abttwo.svg');
        display: flex;
        justify-content: space-around;
        padding: 3rem;

        .build-about-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 45%;

            .build-about-text-head {
                color: #084482;
                font-size: 2.6rem;
                font-weight: 600;
                text-align: center;
                margin-bottom: 3rem;
            }

            .build-about-text-paragraph {
                color: white;
                font-size: 1.05rem;
                line-height: 1.3rem;
                font-weight: 200;
                margin: 0.5rem 0;
            }
        }

        .build-about-image-one {
            width: 14rem;
            height: 13rem;
            border-radius: 50%;
            background-color: #1593d0;
            margin: 1rem;
        }

        .build-about-image-two {
            width: 14rem;
            height: 13rem;
            border-radius: 50%;
            background-color: #97D1FC;
        }

        .build-about-image-three {
            width: 16rem;
            height: 14rem;
            border-radius: 50%;
            background-color: #E4F0FA;
            margin-top: 8rem;
        }

        .build-image {
            padding: 3rem 3rem 0 3rem;
            vertical-align: middle;
        }

        .build-p {
            text-align: center;
            width: 80%;
            margin-left: 10%;
            font-size: 0.9rem;
            font-weight: bold;
        }
    }

    .about-work {
        padding: 4rem;

        .about-work-paragraph {
            font-size: 1.3rem;
            line-height: 1.5rem;
            font-weight: 400;
            margin: 1.5rem;
            text-align: center;
        }
    }
    .about-work-heading {
        color: #084482;
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;
        margin: 2rem;
    }
    .about-divs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-left: 6rem;
        margin-left: 0.5rem;
    
        .about-div-item {
            background-color: #ffffff;
            max-width: 267px;
            margin: 10px;
            box-shadow: 0px 3px 12px -1px rgba(28, 52, 84, 0.26), 0px 2px 4px -1px rgba(28, 55, 90, 0.16);
            text-align: center;
            padding: 0.6rem;
            border-radius: 4px;
            height: 20rem;
        }
        
        .one, .two {
            background: rgba(0, 174, 255, 0.5);
        }
        
        .three {
            background: #00aeff;;
        }
        
        .four {
            background: #00aeff;;
        }
        
        .five {
            background: #00aeff;;
        }
    
        .about-paragraph {
            font-weight: 400;
            max-width: 82%;
            margin-top: 3rem;
            color: #084482;
            font-size: 16px;
        }
    
        .last-paragraph {
            font-weight: 400;
            max-width: 82%;
            margin-top: 3rem;
            color: white;
            font-size: 16px;
        }
    }
    
    .scale {
        display: flex;
        justify-content: space-around;
        margin: auto;
    
        .scale-text {
            width: 50%;
    
            .scale-heading {
                text-align: center;
                color: #084482;
                
                .scale-heading:hover {
                    color: rgba(0, 174, 255, 0.5);
                }
            }
        }
    }
}


